@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;500;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;


}
/* GIF CSS */
.Homepage {
  overflow-x: hidden;
}

.gif-container {
  flex: 1;
  position: relative;
  width: 100vw; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
  
}
.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity value (0.6) as desired */
}

/* ABOUT CSS */
.About {
  background-color: #F3E9D2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5em 20%;
}
.About p {
  text-align: left;
}

form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  display: flex;

  align-items: flex-start; /* Change align-items to flex-start */
  flex-direction: column; /* Update to column direction */
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search_bar {
  
  width: 37.5em;
  height: 3.125em;
  border-radius: 25px;
  border: 0;
  /* padding-right: 3.125em; */
  background-color: #F3E9D2;
  padding-left: 20px;
  font-size: 15px;
}

.search_button {
  position: absolute;
  right: 0;
  height: 3.64em;
  width: 5em;
  background-color: #88D498;
  color: #fff;
  border: 0;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: 0.3s;
  
}

.search_button:hover {
  background-color: #1A936F;
}

.results {
  padding-top: 16px;
}

.results img {
  width: 9%;
  height: 80%;
}

.search-text {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}