
.Nav {
  position: absolute;
  width: 100%;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto;
  overflow-x: auto;
}

.Nav ul {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0 0%;
}

.Nav .directory {
  padding: 0 5%;
}

.Nav ul li {
  text-align: center;
  min-width: 100px;
}

.Nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
  white-space: nowrap; 
}

.Nav .Logo {
  padding: 0 60px;

  color: white;
  text-align: center;
}

.Nav .Profile {
  padding: 0 60px;
  color: white;
  text-align: center;
}

.ProfileButton {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.pfp {
  border-radius: 50%;
}


@media screen and (max-width: 850px) {
  .Nav .directory {
    display: none;
  }
  .Nav .Logo {
    margin: 0 auto;
  }
  .Nav .Profile {
    padding: 0 0;
    color: white;
    text-align: center;
  }
}
