.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.songcard {
  background-color: #114B5F;
  width: 37.5em;
  height: 4em;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.album_img {
  margin-left: 32px;
  justify-content: center;
  border-radius: 3px;
}

.album_img img {
  width: 50%;
}

.song_info {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.song_name {
  font-weight: 700;
  color: #88D498;
}

.song_artists {
  color: #C6DABF;
}