.tac_container {
  background-color: #F3E9D2;
  display: inline-block;
  width: 35%;
}

.tac_img {
  width: 100%;
}

.tac_name {
  font-size: 16px;
  margin: 0;
  color: black;
  font-weight: 700;
}

.tac_a a {
  text-decoration: none;
  color: black;
}